
@font-face {
	font-family: source code pro;
	src: url('media/fonts/SourceCodePro-Regular.ttf');
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	--navbar-height: 48px;
	--content-padding: 84px;
	font-family: source code pro;
}

p {
	font-size: 14px;
}

h1 {
	font-size: 36px;
}

#navbar {
	position: fixed;
	height: var(--navbar-height);
	width: 100%;
	z-index: 2;
	background-color: white;
	box-shadow: 0 0 30px #777777;
}

#navbar > p {
	position: relative;
	float: right;
	padding: 5px 20px 5px 20px;
	margin-right: 30px;
	cursor: pointer;
	top: calc(0.5*var(--navbar-height) - 15px);
	border-bottom-length: 0;
	transition: border-bottom-length 0.1s ease;
}

#navbar > p:hover {
	border-bottom-length: 50px;
	border-bottom-color: #FF0088;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	transition: border-bottom-length 0.1s ease;
}

h2 {
	margin-bottom: 20px;
	letter-spacing: 2px;
}

#content {
	position: absolute;
	margin-top: var(--navbar-height);
}

#content > div {
	position: relative;
	width: calc(100% - 2*var(--content-padding));
	min-height: calc(100vh - var(--navbar-height) - 2*var(--content-padding));
	padding: var(--content-padding);
}

#content > div:nth-child(even) {
	background-color: white;
	color: black;
	box-shadow: 0 0 20px #444444;
	z-index: 1;
}

#content > div:nth-child(even) *::selection {
	background-color: #FF0088;
	color: white;
}

#content > div:nth-child(odd) {
	background-image: url('media/image/tile.png');
	background-repeat: repeat;
	color: white;
	text-shadow: 0 0 5px black;
}

#content > div:nth-child(odd) *::selection {
	color: black;
	background-color: white;
}

#title-section {
	text-align: center;
	letter-spacing: 3px;
}

#title-section > h1 {
	position: relative;
	top: calc((100vh - var(--navbar-height) - 2*var(--content-padding))/2);
	transform: translateY(-50%);
}

#project-cards {
	display: flex;
	flex-wrap: wrap;
	margin-top: var(--content-padding);
	list-style: none;
	justify-content: space-evenly;
	text-shadow: none;
}

#project-cards > .project-card {
	--padding: 30px;
	padding: var(--padding);
	width: calc(480px - 2*var(--padding));
	height: calc(360px - 2*var(--padding));
	background-color: white;
	color: black;
	border-radius: 3px;
	box-shadow: 0 0 10px grey;
	margin-left: calc(var(--content-padding)/2);
	margin-right: calc(var(--content-padding)/2);
	margin-bottom: var(--content-padding);
}
