
#content-title-panel > * {
	position: absolute;
	text-align: center;
	top: 50%;
	width: calc(100% - var(--content-padding));
	margin-left: calc(0px - var(--content-padding)/2);
	--glow-width: 5px;
	/* I didn't want to do this but CSS just be like that */
	text-shadow:
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white,
		0 0 var(--glow-width) white, 0 0 var(--glow-width) white, 0 0 var(--glow-width) white;
}

#content-title-panel h1 {
	transform: translateY(-100%);
}

@keyframes bobbing {
	0% { margin-top: 0px; }
	50% { margin-top: 20px; }
	100% { margin-top: 0px; }
}

#content-title-panel h3 {
	user-select: none;
	animation-name: bobbing;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	transform: translateY(20px);
}

#content-title-panel > div {
	transform: translateY(150px);
}

#defaultCanvas0 {
	position: fixed;
	top: 0;
	margin-left: -50px;
	z-index: -1;
}
